@model ConsentViewModel
@{
    ViewData["Title"] = "Authorization";
    Layout = "_AuthLayout";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Authorization Request</h2>
                <p class="text-center">
                    <strong>@Model.ApplicationName</strong> is requesting access to your account.
                </p>

                <p class="text-center">Scope: @Model.Scope</p>

                <form asp-controller="Authorization" asp-action="Authorize" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" asp-for="@Model.ApplicationName" />
                    <input type="hidden" asp-for="@Model.Scope" />

                    @foreach (var parameter in Context.Request.HasFormContentType ?
                        Context.Request.Form.Where(p => p.Key != "submit.Accept" && p.Key != "submit.Deny") :
                        Context.Request.Query.Where(p => p.Key != "submit.Accept" && p.Key != "submit.Deny"))
                    {
                        <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                    }

                    <div class="form-group mt-4">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" name="submit.Accept" value="true" type="submit">Accept</button>
                            <button class="btn btn-danger" name="submit.Deny" value="true" type="submit">Deny</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 